<div class="row h-100">

  <div class="col-8 text-center h-50">
    <br><br><br><br><br><br><br><br><br>
    <h1 style="font-size: 50px">Profile</h1>
    <br>

    <div class="col-6 offset-3">
      <form>
        <div class="mb-3">
          <div class="mb-3 row">
            <label for="staticUsername" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticUsername" value="{{ name }}">
            </div>

            <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ email }}">
            </div>

            <label for="staticColor" class="col-sm-2 col-form-label">Color:</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticColor" value="{{ color }}">
            </div>

            <label for="staticScore" class="col-sm-2 col-form-label">Score:</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticScore" value="{{ score }}">
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-4 offset-4">
      <button
              class="btn w-100 rounded-pill"
              style="color: white; background-color: #2abf52"
              (click)="onSignOutClick()">
        Sign out
      </button>
    </div>
  </div>

  <div class="col-4 text-center h-100" style="background-color: #2abf52">
    <br><br><br><br><br><br><br><br><br><br><br>
    <h1 class="text-light" style="font-size: 50px">Ready to play?</h1>
    <br>
    <h3 class="text-light">Get chasing!</h3>
    <br>
    <button
            class="btn w-75 rounded-pill"
            style="color: black; background-color: white"
            [routerLink]="'/map'">
      Back to map
    </button>
  </div>
</div>
